.72_2 { 
	overflow:hidden;
}
.e72_2 { 
	background-color:rgba(255, 255, 255, 1);
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1440px;
	height:3378px;
	position:absolute;
}
.e150_2 { 
	width:1440px;
	height:1054px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/portifolio_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color:rgba(91.00000217556953, 32.00000189244747, 32.00000189244747, 1);
	width:233.3410186767578px;
	height:205px;
	position:absolute;
	left:636px;
	top:718px;
	border-top-left-radius:37.78801727294922px;
	border-top-right-radius:37.78801727294922px;
	border-bottom-left-radius:37.78801727294922px;
	border-bottom-right-radius:37.78801727294922px;
	background-image:url(images/rectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_18 { 
	color:rgba(253.93748581409454, 253.93748581409454, 253.93748581409454, 1);
	width:98px;
	height:30px;
	position:absolute;
	left:1182px;
	top:646px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e51_19 { 
	background-color:rgba(91.00000217556953, 32.00000189244747, 32.00000189244747, 1);
	width:233.3410186767578px;
	height:205px;
	position:absolute;
	left:912px;
	top:718px;
	border-top-left-radius:37.78801727294922px;
	border-top-right-radius:37.78801727294922px;
	border-bottom-left-radius:37.78801727294922px;
	border-bottom-right-radius:37.78801727294922px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_20 { 
	background-color:rgba(90.5249972641468, 32.43812598288059, 32.43812598288059, 1);
	width:233.3410186767578px;
	height:205px;
	position:absolute;
	left:1178px;
	top:718px;
	border-top-left-radius:37.78801727294922px;
	border-top-right-radius:37.78801727294922px;
	border-bottom-left-radius:37.78801727294922px;
	border-bottom-right-radius:37.78801727294922px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_21 { 
	transform: rotate(179.75824706315112deg);
	width:226.00221252441406px;
	height:0px;
	position:absolute;
	left:1408px;
	top:676px;
}

.e53_26 { 
	width:34.3636360168457px;
	height:34.3636360168457px;
	position:absolute;
	left:965px;
	top:961.6363525390625px;
}


.e53_27 { 
	width:4.909090995788574px;
	height:11.454545021057129px;
	position:absolute;
	left:976.45458984375px;
	top:973.0908203125px;
}
.e55_2 { 
	transform: rotate(-178.1329714924798deg);
	width:34.28571319580078px;
	height:34.28571319580078px;
	position:absolute;
	left:1091.267578125px;
	top:995.384521484375px;
}


.e55_3 { 
	transform: rotate(-178.1329714924798deg);
	width:5.142857074737549px;
	height:10.285714149475098px;
	position:absolute;
	left:1080.521484375px;
	top:983.02783203125px;
}


.e51_4 { 
	background-color:rgba(223.3374997973442, 28.847763240337372, 28.847763240337372, 0.800000011920929);
	width:219px;
	height:52px;
	position:absolute;
	left:116px;
	top:666px;
	border-top-left-radius:56px;
	border-top-right-radius:56px;
	border-bottom-left-radius:56px;
	border-bottom-right-radius:56px;
}
.e51_10 { 
	color:rgba(237.99998581409454, 237.99998581409454, 237.99998581409454, 1);
	width:115px;
	height:30px;
	position:absolute;
	left:167px;
	top:677px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e51_11 { 
	color:rgba(255, 255, 255, 1);
	width:465px;
	height:97px;
	position:absolute;
	left:116px;
	top:521px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e51_12 { 
	color:rgba(237.15000182390213, 237.15000182390213, 237.15000182390213, 1);
	width:412px;
	height:97px;
	position:absolute;
	left:116px;
	top:415px;
	font-family:Big Shoulders Display;
	text-align:left;
	font-size:87px;
	letter-spacing:0;
}
.e150_3 { 
	background-color:rgba(223.3374997973442, 28.847763240337372, 28.847763240337372, 0.800000011920929);
	width:219px;
	height:52px;
	position:absolute;
	left:992px;
	top:41px;
	border-top-left-radius:56px;
	border-top-right-radius:56px;
	border-bottom-left-radius:56px;
	border-bottom-right-radius:56px;
}
.e150_4 { 
	width:450px;
	height:107px;
	position:absolute;
	left:453px;
	top:0px;
}
.e150_5 { 
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.7799999713897705);
	width:61px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}
.e150_6 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:28px;
	position:absolute;
	left:0px;
	top:57px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e150_7 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:28px;
	position:absolute;
	left:107px;
	top:53px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e150_8 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:32px;
	position:absolute;
	left:206px;
	top:53px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e150_9 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:28px;
	position:absolute;
	left:355px;
	top:53px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e150_10 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:28px;
	position:absolute;
	left:1008px;
	top:53px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e150_11 { 
	color:rgba(255, 255, 255, 1);
	width:178px;
	height:29px;
	position:absolute;
	left:116px;
	top:53px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e150_13 { 
	width:1122px;
	height:476px;
	position:absolute;
	left:159px;
	top:1063px;
}
.e150_14 { 
	border-radius:500px;
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.25999999046325684);
	width:144px;
	height:133px;
	position:absolute;
	left:978px;
	top:64px;
}
.e150_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:405.4049987792969px;
	height:351px;
	position:absolute;
	left:645px;
	top:125px;
	background-image:url(images/rectangle_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e150_16 { 
	color:rgba(0, 0, 0, 1);
	width:247px;
	height:42px;
	position:absolute;
	left:419px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:35.576473236083984px;
	letter-spacing:0;
}
.e150_17 { 
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.8399999737739563);
	width:189px;
	height:52px;
	position:absolute;
	left:0px;
	top:387px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e150_18 { 
	color:rgba(255, 255, 255, 1);
	width:113px;
	height:30px;
	position:absolute;
	left:40px;
	top:398px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e150_19 { 
	color:rgba(0, 0, 0, 1);
	width:597px;
	height:89.64241790771484px;
	position:absolute;
	left:0px;
	top:148.67877197265625px;
	font-family:Roboto;
	text-align:left;
	font-size:25.487722396850586px;
	letter-spacing:0;
}
.e150_20 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:22px;
	position:absolute;
	left:451px;
	top:42px;
	font-family:Roboto;
	text-align:left;
	font-size:16.07950210571289px;
	letter-spacing:0;
}
.e150_21 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:30px;
	position:absolute;
	left:0px;
	top:111px;
	font-family:Roboto;
	text-align:left;
	font-size:25.487722396850586px;
	letter-spacing:0;
}
.e150_22 { 
	color:rgba(0, 0, 0, 1);
	width:631px;
	height:89px;
	position:absolute;
	left:0px;
	top:298px;
	font-family:Roboto;
	text-align:left;
	font-size:25.487722396850586px;
	letter-spacing:0;
}
.e150_23 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:30px;
	position:absolute;
	left:0px;
	top:260px;
	font-family:Roboto;
	text-align:left;
	font-size:25.487722396850586px;
	letter-spacing:0;
}
.e150_25 { 
	width:1440px;
	height:470px;
	position:absolute;
	left:0px;
	top:1559px;
}
.e150_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1440px;
	height:470px;
	position:absolute;
	left:0px;
	top:0px;
}
.e150_27 { 
	border-radius:500px;
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.25999999046325684);
	width:68px;
	height:68px;
	position:absolute;
	left:288px;
	top:116px;
}
.e150_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:249px;
	height:187px;
	position:absolute;
	left:596px;
	top:150px;
	background-image:url(images/rectangle_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e150_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:249px;
	height:187px;
	position:absolute;
	left:322px;
	top:150px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e150_30 { 
	border-radius:500px;
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.25999999046325684);
	width:55px;
	height:50.79861068725586px;
	position:absolute;
	left:1091px;
	top:125px;
}
.e150_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:249px;
	height:187px;
	position:absolute;
	left:870px;
	top:150px;
	background-image:url(images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e150_32 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:32px;
	position:absolute;
	left:634px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e150_33 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:22px;
	position:absolute;
	left:659px;
	top:86px;
	font-family:Roboto;
	text-align:left;
	font-size:16.07950210571289px;
	letter-spacing:0;
}
.e150_34 { 
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.8399999737739563);
	width:190px;
	height:52px;
	position:absolute;
	left:612px;
	top:379px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e150_35 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:30px;
	position:absolute;
	left:661px;
	top:390px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e150_37 { 
	width:1136px;
	height:575px;
	position:absolute;
	left:134px;
	top:2078px;
}
.e150_38 { 
	color:rgba(0, 0, 0, 1);
	width:458px;
	height:32px;
	position:absolute;
	left:317px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e150_39 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:22px;
	position:absolute;
	left:484px;
	top:50px;
	font-family:Roboto;
	text-align:left;
	font-size:16.07950210571289px;
	letter-spacing:0;
}
.e150_40 { 
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.8399999737739563);
	width:1136px;
	height:69px;
	position:absolute;
	left:0px;
	top:506px;
}
.e150_41 { 
	color:rgba(0, 0, 0, 1);
	width:91px;
	height:28px;
	position:absolute;
	left:515px;
	top:530px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e150_42 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:15px;
	position:absolute;
	left:519px;
	top:125px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:519px;
	height:41px;
	position:absolute;
	left:0px;
	top:144px;
}


.e150_44 { 
	background-color:rgba(255, 255, 255, 1);
	width:617px;
	height:41px;
	position:absolute;
	left:519px;
	top:144px;
}
.e150_45 { 
	background-color:rgba(255, 255, 255, 1);
	width:617px;
	height:41px;
	position:absolute;
	left:519px;
	top:214px;
}
.e150_46 { 
	background-color:rgba(255, 255, 255, 1);
	width:519px;
	height:41px;
	position:absolute;
	left:0px;
	top:214px;
}

.e150_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:1136px;
	height:135px;
	position:absolute;
	left:0px;
	top:321px;
}

.e150_48 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:15px;
	position:absolute;
	left:3px;
	top:261px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_49 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:15px;
	position:absolute;
	left:3px;
	top:327px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_50 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:112px;
	height:15px;
	position:absolute;
	left:3px;
	top:150px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_51 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:136px;
	height:15px;
	position:absolute;
	left:4px;
	top:220px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_52 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:86px;
	height:15px;
	position:absolute;
	left:4px;
	top:286px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_53 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:134px;
	height:15px;
	position:absolute;
	left:526px;
	top:150px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_54 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:129px;
	height:15px;
	position:absolute;
	left:526px;
	top:220px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_55 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:186px;
	height:15px;
	position:absolute;
	left:526px;
	top:285px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e150_57 { 
	width:1592px;
	height:679.8502807617188px;
	position:absolute;
	left:-63px;
	top:2747px;
}
.e150_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1473.0347900390625px;
	height:631px;
	position:absolute;
	left:39.12398910522461px;
	top:0px;
}
.e150_59 { 
	color:rgba(0, 0, 0, 1);
	width:275.17108154296875px;
	height:35px;
	position:absolute;
	left:643.6820068359375px;
	top:92px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e150_60 { 
	color:rgba(0, 0, 0, 1);
	width:381.55694580078125px;
	height:22px;
	position:absolute;
	left:590.4890747070312px;
	top:127px;
	font-family:Roboto;
	text-align:left;
	font-size:16.07950210571289px;
	letter-spacing:0;
}
.e150_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:534.998046875px;
	height:50px;
	position:absolute;
	left:480.0115051269531px;
	top:202px;
}

.e150_62 { 
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.8399999737739563);
	width:104.3399658203125px;
	height:50px;
	position:absolute;
	left:1015.009765625px;
	top:202px;
}
.e150_63 { 
	color:rgba(0, 0, 0, 1);
	width:72.62879943847656px;
	height:23px;
	position:absolute;
	left:1030.3536376953125px;
	top:215px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e150_64 { 
	background-color:rgba(255, 255, 255, 1);
	width:189.24404907226562px;
	height:193px;
	position:absolute;
	left:186.42747497558594px;
	top:310px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e150_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:189.24404907226562px;
	height:198px;
	position:absolute;
	left:430.91033935546875px;
	top:305px;
	background-image:url(images/rectangle_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e150_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:189.24404907226562px;
	height:198px;
	position:absolute;
	left:675.3931884765625px;
	top:305px;
	background-image:url(images/rectangle_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e150_67 { 
	background-color:rgba(255, 255, 255, 1);
	width:189.24404907226562px;
	height:198px;
	position:absolute;
	left:927.03662109375px;
	top:305px;
	background-image:url(images/rectangle_24.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.150_67 { 
	border:6px solid rgba(0, 0, 0, 1);
}
.e150_68 { 
	background-color:rgba(255, 255, 255, 1);
	width:189.24404907226562px;
	height:198px;
	position:absolute;
	left:1175.6112060546875px;
	top:305px;
	background-image:url(images/rectangle_25.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.150_68 { 
	border:6px solid rgba(0, 0, 0, 1);
}
.e150_69 { 
	background-color:rgba(3.399996757507324, 1.6433317819610238, 1.6433317819610238, 0.9800000190734863);
	width:1473.0347900390625px;
	height:236px;
	position:absolute;
	left:39.12398910522461px;
	top:395px;
}
.e150_70 { 
	transform: rotate(-46.954588031313364deg);
	border-radius:500px;
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.8299999833106995);
	width:140.1963653564453px;
	height:136.4325714111328px;
	position:absolute;
	left:1394.5206298828125px;
	top:589px;
}
.e150_71 { 
	transform: rotate(-0.45111240162019833deg);
	border-radius:500px;
	background-color:rgba(223.00000190734863, 29.000000171363354, 29.000000171363354, 0.8399999737739563);
	width:90.67717742919922px;
	height:92.3684310913086px;
	position:absolute;
	left:0px;
	top:352.1796875px;
}
.e150_72 { 
	color:rgba(255, 255, 255, 1);
	width:118.66114044189453px;
	height:23px;
	position:absolute;
	left:839.0634765625px;
	top:428px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e150_73 { 
	color:rgba(255, 255, 255, 1);
	width:119.68407440185547px;
	height:46px;
	position:absolute;
	left:1056.9500732421875px;
	top:429px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e150_74 { 
	color:rgba(255, 255, 255, 1);
	width:202.5422821044922px;
	height:27px;
	position:absolute;
	left:174.1521759033203px;
	top:445px;
	font-family:Roboto;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e150_75 { 
	color:rgba(255, 255, 255, 1);
	width:595.3515625px;
	height:75px;
	position:absolute;
	left:174.1521759033203px;
	top:475px;
	font-family:Roboto;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e150_76 { 
	transform: rotate(0.9824780405817402deg);
	color:rgba(255, 255, 255, 1);
	width:290.7642517089844px;
	height:25.000179290771484px;
	position:absolute;
	left:1057.398681640625px;
	top:462px;
	font-family:Roboto;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e150_77 { 
	transform: rotate(0.9824780405817402deg);
	color:rgba(255, 255, 255, 1);
	width:127.2716293334961px;
	height:25.000179290771484px;
	position:absolute;
	left:839.5122680664062px;
	top:462px;
	font-family:Roboto;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e150_78 { 
	transform: rotate(0.9824780405817402deg);
	color:rgba(255, 255, 255, 1);
	width:127.2716293334961px;
	height:25.000179290771484px;
	position:absolute;
	left:838.4893188476562px;
	top:492px;
	font-family:Roboto;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e150_79 { 
	transform: rotate(0.9824780405817402deg);
	color:rgba(255, 255, 255, 1);
	width:127.2716293334961px;
	height:25.000179290771484px;
	position:absolute;
	left:840.5352172851562px;
	top:523px;
	font-family:Roboto;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e150_80 { 
	color:rgba(255, 255, 255, 1);
	width:269.033447265625px;
	height:25px;
	position:absolute;
	left:1056.9500732421875px;
	top:492px;
	font-family:Roboto;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e150_81 { 
	color:rgba(255, 255, 255, 1);
	width:367.2357482910156px;
	height:25px;
	position:absolute;
	left:1056.9500732421875px;
	top:525px;
	font-family:Roboto;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
